[Unit]
Description=Librarian service
After=network.target

[Service]
ExecStart=python2 -m librarian.app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

