[Unit]
Description=Librarian service
After=network.target

[Service]
ExecStart=/usr/bin/python2.7 -m 'librarian.app'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

